@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');/*importe de fuente*/

  @media screen and (max-width: 500px) {
    body {
      background-color:yellow ;
    }
  }
@media (orientation: portrait) {
    html {
      background-color: limegreen;       /*Cambios de color dependiendo del dispositivo y la orientacion*/
    }
  }
  
  @media (orientation: landscape) {
    html {
      background-color: lightblue;
    }
  }
  
  
  
  header{
font-family:"Zhi Mang Xing";
text-align:left;
color:rgb(238, 75, 75);
background-color:orange;
padding-bottom:30px
  }
  h1{padding-bottom:30px}   /*primer bloque*/
  .P{background-color:white;
font-size:80px;
color:brown;
text-shadow:orange 3px 3px;  /*primera letra del primer bloque*/
font-family:arial}
  
  i{color:red;    
font-style: normal;
}


  div.paises{background-color:rgb(110, 218, 96);} /*paises*/

  div.banderas{background-color:blanchedalmond}  /*banderas*/

  hr{background-color:blue;
margin-left:40%;                 /*hr que se encuentra en banderas*/
margin-right:40%;
height:20px;
border: red 2px solid}



table{background-color:brown}  /* Principio de tabla*/
th{width:120px;
height: 100px;
text-align:left}
th.largo{width:300px
}

th.bandera1:hover{background-color:red}
th.bandera2:hover{background-color:white}
.input1:focus{background-color:blue;
border:red 2px solid}
.input2:active{background-color:blue;
border:red 2px solid}
  /*final de tabla*/


p.banderacolores{background-color:chocolate;
    color:yellow;
    text-align: center;         /* bloque de distintos bordes*/
    padding:5px;
    border-color:blue red yellow;
    border-width: 15px 20px 15px;
    border-style: dotted solid dashed
}
footer{background-color:rgb(238, 75, 75)}

footer ol li{list-style: none;     /*footer*/
display: inline-block; 
margin-left:20%}
